<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name="BookingContext"
			 connectionString="Server=(localdb)\mssqllocaldb;Database=BookingContext-4b688890-71eb-4e92-936e-455d29dedbb6;Trusted_Connection=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
	
</configuration>