@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewData["Title"] = "Make Reservation";
	
}
<div class="background background-opacity-half"></div>

<h1>Search Available Rooms</h1>

<form asp-action="Search" method="get">
	<div>
		<label for="checkInDate">Check-in Date:</label>
		<input type="date" id="checkInDate" name="checkInDate" required />
	</div>
	<div>
		<label for="checkOutDate">Check-out Date:</label>
		<input type="date" id="checkOutDate" name="checkOutDate" required />
	</div>
	<button type="submit">Search</button>

</form>
